<p id="notice"><%= notice %></p>

<p>
  <strong>Hora:</strong>
  <%= @encuestum.hora %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @encuestum.fecha %>
</p>

<%= link_to 'Edit', edit_encuestum_path(@encuestum) %> |
<%= link_to 'Back', encuesta_path %>
